<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Mk", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body id="body" class="antialiased">    
    <div class="sticky top-0 z-20">
      <div class="xs:hidden bg-red-200 h-6"> less than xs</div>
      <div class="hidden xs:block sm:hidden bg-red-300  h-6">xs</div>
      <div class="hidden sm:block md:hidden bg-red-400  h-6">sm</div>
      <div class="hidden md:block lg:hidden bg-red-500  h-6">md</div>
      <div class="hidden lg:block xl:hidden bg-red-600  h-6">lg</div>
      <div class="hidden xl:block 2xl:hidden bg-red-700  h-6">xl</div>
      <div class="hidden 2xl:block 3xl:hidden bg-red-800  h-6">2xl</div>
    </div>
    <%= @inner_content %>
  </body>
</html>
